@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Itim&family=Unbounded:wght@300&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  font-family: Itim;
  font-size: 32px;
}

.header img {
  padding: 0 14px;
}
